Project machine learning \\
DAMMAK iyed

Data extraction

In [61]:
pip install pandas

Requirement already satisfied: pandas in c:\users\lenovo\miniconda3\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\lenovo\miniconda3\lib\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\miniconda3\lib\site-packages (from pandas) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\miniconda3\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [62]:
#important import
import pandas as pd 
import numpy as np

In [63]:
data=[]
with open('kidney_disease.csv', "r") as doc:
    next(doc) 
    for line in doc:
        line=line.replace('\n','')
        data.append(line.split(','))

#print( data)
names=['id','age','bp','sg','al','su','rbc','pc','pcc','ba','bgr','bu','sc','sod','pot','hemo','pcv','wc','rc','htn','dm','cad','appet','pe','ane','classification']
df= pd.DataFrame(data, columns=names )
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.02,1.0,0.0,,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.02,4.0,0.0,,normal,notpresent,notpresent,...,38,6000,,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.01,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.02,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.02,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [64]:
# see the first columns to get familiar with the data 
num_rows_to_see=10
df.head(num_rows_to_see)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.02,1.0,0.0,,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.02,4.0,0.0,,normal,notpresent,notpresent,...,38,6000,,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.01,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.01,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,5,60.0,90.0,1.015,3.0,0.0,,,notpresent,notpresent,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,6,68.0,70.0,1.01,0.0,0.0,,normal,notpresent,notpresent,...,36,,,no,no,no,good,no,no,ckd
7,7,24.0,,1.015,2.0,4.0,normal,abnormal,notpresent,notpresent,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,8,52.0,100.0,1.015,3.0,0.0,normal,abnormal,present,notpresent,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,9,53.0,90.0,1.02,2.0,0.0,abnormal,abnormal,present,notpresent,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd

Note that the are missing values in the data set \n
This is suspectious; For that we prefer to get the set of values for each column

In [65]:
# get the columns of the data frame and see the set of values for each column 
for col in df.columns: 
    print(f'The values of {col} are = \n', df[col].unique())

The values of id are =
 ['0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15'
 '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57'
 '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71'
 '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85'
 '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99'
 '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111'
 '112' '113' '114' '115' '116' '117' '118' '119' '120' '121' '122' '123'
 '124' '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135'
 '136' '137' '138' '139' '140' '141' '142' '143' '144' '145' '146' '147'
 '148' '149' '150' '151' '152' '153' '154' '155' '156' '157' '158' '159'
 '160' '161' '162' '163' '164' '165' '166' '167' '168' '169' '170' '171'
 '172' '173' '174' '175' '176' '177' '178' '179' '180' '181' '182' '183'
 '184' '185' '186' '187' '188' '189' '190' '191' '192' '193' '194' '195'
 '196' '197' '198' '199' '200' '201' '202' '203' '204' '205' '206' '207'
 '208' '209' '210' '211' '212' '213' '214' '215' '216' '217' '218' '219'
 '220' '221' '222' '223' '224' '225' '226' '227' '228' '229' '230' '231'
 '232' '233' '234' '235' '236' '237' '238' '239' '240' '241' '242' '243'
 '244' '245' '246' '247' '248' '249' '250' '251' '252' '253' '254' '255'
 '256' '257' '258' '259' '260' '261' '262' '263' '264' '265' '266' '267'
 '268' '269' '270' '271' '272' '273' '274' '275' '276' '277' '278' '279'
 '280' '281' '282' '283' '284' '285' '286' '287' '288' '289' '290' '291'
 '292' '293' '294' '295' '296' '297' '298' '299' '300' '301' '302' '303'
 '304' '305' '306' '307' '308' '309' '310' '311' '312' '313' '314' '315'
 '316' '317' '318' '319' '320' '321' '322' '323' '324' '325' '326' '327'
 '328' '329' '330' '331' '332' '333' '334' '335' '336' '337' '338' '339'
 '340' '341' '342' '343' '344' '345' '346' '347' '348' '349' '350' '351'
 '352' '353' '354' '355' '356' '357' '358' '359' '360' '361' '362' '363'
 '364' '365' '366' '367' '368' '369' '370' '371' '372' '373' '374' '375'
 '376' '377' '378' '379' '380' '381' '382' '383' '384' '385' '386' '387'
 '388' '389' '390' '391' '392' '393' '394' '395' '396' '397' '398' '399']
The values of age are =
 ['48.0' '7.0' '62.0' '51.0' '60.0' '68.0' '24.0' '52.0' '53.0' '50.0'
 '63.0' '40.0' '47.0' '61.0' '21.0' '42.0' '75.0' '69.0' '' '73.0' '70.0'
 '65.0' '76.0' '72.0' '82.0' '46.0' '45.0' '35.0' '54.0' '11.0' '59.0'
 '67.0' '15.0' '55.0' '44.0' '26.0' '64.0' '56.0' '5.0' '74.0' '38.0'
 '58.0' '71.0' '34.0' '17.0' '12.0' '43.0' '41.0' '57.0' '8.0' '39.0'
 '66.0' '81.0' '14.0' '27.0' '83.0' '30.0' '4.0' '3.0' '6.0' '32.0' '80.0'
 '49.0' '90.0' '78.0' '19.0' '2.0' '33.0' '36.0' '37.0' '23.0' '25.0'
 '20.0' '29.0' '28.0' '22.0' '79.0']
The values of bp are =
 ['80.0' '50.0' '70.0' '90.0' '' '100.0' '60.0' '110.0' '140.0' '180.0'
 '120.0']
The values of sg are =
 ['1.02' '1.01' '1.005' '1.015' '' '1.025']
The values of al are =
 ['1.0' '4.0' '2.0' '3.0' '0.0' '' '5.0']
The values of su are =
 ['0.0' '3.0' '4.0' '1.0' '' '2.0' '5.0']
The values of rbc are =
 ['' 'normal' 'abnormal']
The values of pc are =
 ['normal' 'abnormal' '']
The values of pcc are =
 ['notpresent' 'present' '']
The values of ba are =
 ['notpresent' 'present' '']
The values of bgr are =
 ['121.0' '' '423.0' '117.0' '106.0' '74.0' '100.0' '410.0' '138.0' '70.0'
 '490.0' '380.0' '208.0' '98.0' '157.0' '76.0' '99.0' '114.0' '263.0'
 '173.0' '95.0' '108.0' '156.0' '264.0' '123.0' '93.0' '107.0' '159.0'
 '140.0' '171.0' '270.0' '92.0' '137.0' '204.0' '79.0' '207.0' '124.0'
 '144.0' '91.0' '162.0' '246.0' '253.0' '141.0' '182.0' '86.0' '150.0'
 '146.0' '425.0' '112.0' '250.0' '360.0' '163.0' '129.0' '133.0' '102.0'
 '158.0' '165.0' '132.0' '104.0' '127.0' '415.0' '169.0' '251.0' '109.0'
 '280.0' '210.0' '219.0' '295.0' '94.0' '172.0' '101.0' '298.0' '153.0'
 '88.0' '226.0' '143.0' '115.0' '89.0' '297.0' '233.0' '294.0' '323.0'
 '125.0' '90.0' '308.0' '118.0' '224.0' '128.0' '122.0' '214.0' '213.0'
 '268.0' '256.0' '84.0' '105.0' '288.0' '139.0' '78.0' '273.0' '242.0'
 '424.0' '303.0' '148.0' '160.0' '192.0' '307.0' '220.0' '447.0' '309.0'
 '22.0' '111.0' '261.0' '215.0' '234.0' '131.0' '352.0' '80.0' '239.0'
 '110.0' '130.0' '184.0' '252.0' '113.0' '230.0' '341.0' '255.0' '103.0'
 '238.0' '248.0' '120.0' '241.0' '269.0' '201.0' '203.0' '463.0' '176.0'
 '82.0' '119.0' '97.0' '96.0' '81.0' '116.0' '134.0' '85.0' '83.0' '87.0'
 '75.0']
The values of bu are =
 ['36.0' '18.0' '53.0' '56.0' '26.0' '25.0' '54.0' '31.0' '60.0' '107.0'
 '55.0' '72.0' '86.0' '90.0' '162.0' '46.0' '87.0' '27.0' '148.0' '180.0'
 '163.0' '' '50.0' '75.0' '45.0' '28.0' '155.0' '33.0' '39.0' '153.0'
 '29.0' '65.0' '103.0' '70.0' '80.0' '20.0' '202.0' '77.0' '89.0' '24.0'
 '17.0' '32.0' '114.0' '66.0' '38.0' '164.0' '142.0' '96.0' '391.0' '15.0'
 '111.0' '73.0' '19.0' '92.0' '35.0' '16.0' '139.0' '48.0' '85.0' '98.0'
 '186.0' '37.0' '47.0' '52.0' '82.0' '51.0' '106.0' '22.0' '217.0' '88.0'
 '118.0' '50.1' '71.0' '34.0' '40.0' '21.0' '219.0' '30.0' '125.0' '166.0'
 '49.0' '208.0' '176.0' '68.0' '145.0' '165.0' '322.0' '23.0' '235.0'
 '132.0' '76.0' '42.0' '44.0' '41.0' '113.0' '1.5' '146.0' '58.0' '133.0'
 '137.0' '67.0' '115.0' '223.0' '98.6' '158.0' '94.0' '74.0' '150.0'
 '61.0' '57.0' '95.0' '191.0' '93.0' '241.0' '64.0' '79.0' '215.0' '309.0'
 '10.0']
The values of sc are =
 ['1.2' '0.8' '1.8' '3.8' '1.4' '1.1' '24.0' '1.9' '7.2' '4.0' '2.7' '2.1'
 '4.6' '4.1' '9.6' '2.2' '5.2' '1.3' '1.6' '3.9' '76.0' '7.7' '' '2.4'
 '7.3' '1.5' '2.5' '2.0' '3.4' '0.7' '1.0' '10.8' '6.3' '5.9' '0.9' '3.0'
 '3.25' '9.7' '6.4' '3.2' '32.0' '0.6' '6.1' '3.3' '6.7' '8.5' '2.8'
 '15.0' '2.9' '1.7' '3.6' '5.6' '6.5' '4.4' '10.2' '11.5' '0.5' '12.2'
 '5.3' '9.2' '13.8' '16.9' '6.0' '7.1' '18.0' '2.3' '13.0' '48.1' '14.2'
 '16.4' '2.6' '7.5' '4.3' '18.1' '11.8' '9.3' '6.8' '13.5' '12.8' '11.9'
 '12.0' '13.4' '15.2' '13.3' '0.4']
The values of sod are =
 ['' '111.0' '142.0' '104.0' '114.0' '131.0' '138.0' '135.0' '130.0'
 '141.0' '139.0' '4.5' '136.0' '129.0' '140.0' '132.0' '133.0' '134.0'
 '125.0' '163.0' '137.0' '128.0' '143.0' '127.0' '146.0' '126.0' '122.0'
 '147.0' '124.0' '115.0' '145.0' '113.0' '120.0' '150.0' '144.0']
The values of pot are =
 ['' '2.5' '3.2' '4.0' '3.7' '4.2' '5.8' '3.4' '6.4' '4.9' '4.1' '4.3'
 '5.2' '3.8' '4.6' '3.9' '4.7' '5.9' '4.8' '4.4' '6.6' '39.0' '5.5' '5.0'
 '3.5' '3.6' '7.6' '2.9' '4.5' '5.7' '5.4' '5.3' '47.0' '6.3' '5.1' '5.6'
 '3.0' '2.8' '2.7' '6.5' '3.3']
The values of hemo are =
 ['15.4' '11.3' '9.6' '11.2' '11.6' '12.2' '12.4' '10.8' '9.5' '9.4' '9.7'
 '9.8' '5.6' '7.6' '12.6' '12.1' '12.7' '10.3' '7.7' '10.9' '' '11.1'
 '9.9' '12.5' '12.9' '10.1' '12.0' '13.0' '7.9' '9.3' '15.0' '10.0' '8.6'
 '13.6' '10.2' '10.5' '6.6' '11.0' '7.5' '15.6' '15.2' '4.8' '9.1' '8.1'
 '11.9' '13.5' '8.3' '7.1' '16.1' '10.4' '9.2' '6.2' '13.9' '14.1' '6.0'
 '11.8' '11.7' '11.4' '14.0' '8.2' '13.2' '6.1' '8.0' '12.3' '8.4' '14.3'
 '9.0' '8.7' '10.6' '13.1' '10.7' '5.5' '5.8' '6.8' '8.8' '8.5' '13.8'
 '11.5' '7.3' '13.7' '12.8' '13.4' '6.3' '3.1' '17.0' '15.9' '14.5' '15.5'
 '16.2' '14.4' '14.2' '16.3' '14.8' '16.5' '15.7' '13.3' '14.6' '16.4'
 '16.9' '16.0' '14.7' '16.6' '14.9' '16.7' '16.8' '15.8' '15.1' '17.1'
 '17.2' '15.3' '17.3' '17.4' '17.7' '17.8' '17.5' '17.6']
The values of pcv are =
 ['44' '38' '31' '32' '35' '39' '36' '33' '29' '28' '' '16' '24' '37' '30'
 '34' '40' '45' '27' '48' '\t?' '52' '14' '22' '18' '42' '17' '46' '23'
 '19' '25' '41' '26' '15' '21' '43' '20' '\t43' '47' '9' '49' '50' '53'
 '51' '54']
The values of wc are =
 ['7800' '6000' '7500' '6700' '7300' '' '6900' '9600' '12100' '4500'
 '12200' '11000' '3800' '11400' '5300' '9200' '6200' '8300' '8400' '10300'
 '9800' '9100' '7900' '6400' '8600' '18900' '21600' '4300' '8500' '11300'
 '7200' '7700' '14600' '6300' '\t6200' '7100' '11800' '9400' '5500' '5800'
 '13200' '12500' '5600' '7000' '11900' '10400' '10700' '12700' '6800'
 '6500' '13600' '10200' '9000' '14900' '8200' '15200' '5000' '16300'
 '12400' '\t8400' '10500' '4200' '4700' '10900' '8100' '9500' '2200'
 '12800' '11200' '19100' '\t?' '12300' '16700' '2600' '26400' '8800'
 '7400' '4900' '8000' '12000' '15700' '4100' '5700' '11500' '5400' '10800'
 '9900' '5200' '5900' '9300' '9700' '5100' '6600']
The values of rc are =
 ['5.2' '' '3.9' '4.6' '4.4' '5' '4.0' '3.7' '3.8' '3.4' '2.6' '2.8' '4.3'
 '3.2' '3.6' '4' '4.1' '4.9' '2.5' '4.2' '4.5' '3.1' '4.7' '3.5' '6.0'
 '5.0' '2.1' '5.6' '2.3' '2.9' '2.7' '8.0' '3.3' '3.0' '3' '2.4' '4.8'
 '\t?' '5.4' '6.1' '6.2' '6.3' '5.1' '5.8' '5.5' '5.3' '6.4' '5.7' '5.9'
 '6.5']
The values of htn are =
 ['yes' 'no' '']
The values of dm are =
 ['yes' 'no' ' yes' '\tno' '\tyes' '']
The values of cad are =
 ['no' 'yes' '\tno' '']
The values of appet are =
 ['good' 'poor' '']
The values of pe are =
 ['no' 'yes' '']
The values of ane are =
 ['no' 'yes' '']
The values of classification are =
 ['ckd' 'ckd\t' 'notckd']

there is some abnormal values in wc

In [69]:
# remove unwanted caracters like tabs and question marks
for col in df.columns:
    # Step 1: Clean unwanted characters
    df[col] = df[col].replace(r'\t|\?| ', '', regex=True)  # Remove tabs and question marks
    df[col] = df[col].replace('', np.nan, regex=True)
# convert numerical calumns to float 
numerical_columns = ['age', 'bp', 'sg', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hemo', 'pcv', 'wc', 'rc']
for col in numerical_columns:
    # Convert to numeric, forcing errors to NaN
    df[col] = pd.to_numeric(df[col], errors='coerce')  # Convert to numeric
    
    # Handle NaN values (choose one of the options below) Fill NaN with the mean of the column
    df[col].fillna(df[col].mean(), inplace=True)

#fill the categorical columns 
cat_columns=['rbc','pc','pcc','ba','htn','dm','cad','appet','pe','ane','classification']
for col in cat_columns: 
    # Get the mode
    mode_value = df[col].mode()[0] if not df[col].mode().empty else np.nan  # Handle case with no mode
    df[col].fillna(mode_value, inplace=True)  # Fill NaN with the mode of the column

    #df[col].fillna(df[col].mode(), inplace=True )
# Check the cleaned DataFrame
print(df.describe())  # This will give you a summary of the cleaned numerical columns

              age          bp          sg          al          su         bgr  \
count  400.000000  400.000000  400.000000  400.000000  400.000000  400.000000
mean    51.483376   76.469072    1.017408    1.016949    0.450142  148.036517
std     16.974966   13.476298    0.005369    1.272318    1.029487   74.782634
min      2.000000   50.000000    1.005000    0.000000    0.000000   22.000000
25%     42.000000   70.000000    1.015000    0.000000    0.000000  101.000000
50%     54.000000   78.234536    1.017408    1.000000    0.000000  126.000000
75%     64.000000   80.000000    1.020000    2.000000    0.450142  150.000000
max     90.000000  180.000000    1.025000    5.000000    5.000000  490.000000

               bu          sc         sod         pot        hemo         pcv  \
count  400.000000  400.000000  400.000000  400.000000  400.000000  400.000000
mean    57.425722    3.072454  137.528754    4.627244   12.526437   38.884498
std     49.285887    5.617490    9.204273    2.819783    2.716171    8.151081
min      1.500000    0.400000    4.500000    2.500000    3.100000    9.000000
25%     27.000000    0.900000  135.000000    4.000000   10.875000   34.000000
50%     44.000000    1.400000  137.528754    4.627244   12.526437   38.884498
75%     61.750000    3.072454  141.000000    4.800000   14.625000   44.000000
max    391.000000   76.000000  163.000000   47.000000   17.800000   54.000000

                 wc          rc
count    400.000000  400.000000
mean    8406.122449    4.707435
std     2523.219976    0.840314
min     2200.000000    2.100000
25%     6975.000000    4.500000
50%     8406.122449    4.707435
75%     9400.000000    5.100000
max    26400.000000    8.000000

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18912\1763262678.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_18912\1763262678.py:20: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(mode_value, inplace=True)  # Fill NaN with the mode of the column

In [70]:
# get the columns of the data frame and see the set of values for each column 
for col in df.columns: 
    print(f'The values of {col} are = \n', df[col].unique())

The values of id are =
 ['0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15'
 '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57'
 '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71'
 '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85'
 '86' '87' '88' '89' '90' '91' '92' '93' '94' '95' '96' '97' '98' '99'
 '100' '101' '102' '103' '104' '105' '106' '107' '108' '109' '110' '111'
 '112' '113' '114' '115' '116' '117' '118' '119' '120' '121' '122' '123'
 '124' '125' '126' '127' '128' '129' '130' '131' '132' '133' '134' '135'
 '136' '137' '138' '139' '140' '141' '142' '143' '144' '145' '146' '147'
 '148' '149' '150' '151' '152' '153' '154' '155' '156' '157' '158' '159'
 '160' '161' '162' '163' '164' '165' '166' '167' '168' '169' '170' '171'
 '172' '173' '174' '175' '176' '177' '178' '179' '180' '181' '182' '183'
 '184' '185' '186' '187' '188' '189' '190' '191' '192' '193' '194' '195'
 '196' '197' '198' '199' '200' '201' '202' '203' '204' '205' '206' '207'
 '208' '209' '210' '211' '212' '213' '214' '215' '216' '217' '218' '219'
 '220' '221' '222' '223' '224' '225' '226' '227' '228' '229' '230' '231'
 '232' '233' '234' '235' '236' '237' '238' '239' '240' '241' '242' '243'
 '244' '245' '246' '247' '248' '249' '250' '251' '252' '253' '254' '255'
 '256' '257' '258' '259' '260' '261' '262' '263' '264' '265' '266' '267'
 '268' '269' '270' '271' '272' '273' '274' '275' '276' '277' '278' '279'
 '280' '281' '282' '283' '284' '285' '286' '287' '288' '289' '290' '291'
 '292' '293' '294' '295' '296' '297' '298' '299' '300' '301' '302' '303'
 '304' '305' '306' '307' '308' '309' '310' '311' '312' '313' '314' '315'
 '316' '317' '318' '319' '320' '321' '322' '323' '324' '325' '326' '327'
 '328' '329' '330' '331' '332' '333' '334' '335' '336' '337' '338' '339'
 '340' '341' '342' '343' '344' '345' '346' '347' '348' '349' '350' '351'
 '352' '353' '354' '355' '356' '357' '358' '359' '360' '361' '362' '363'
 '364' '365' '366' '367' '368' '369' '370' '371' '372' '373' '374' '375'
 '376' '377' '378' '379' '380' '381' '382' '383' '384' '385' '386' '387'
 '388' '389' '390' '391' '392' '393' '394' '395' '396' '397' '398' '399']
The values of age are =
 [48.          7.         62.         51.         60.         68.
 24.         52.         53.         50.         63.         40.
 47.         61.         21.         42.         75.         69.
 51.48337596 73.         70.         65.         76.         72.
 82.         46.         45.         35.         54.         11.
 59.         67.         15.         55.         44.         26.
 64.         56.          5.         74.         38.         58.
 71.         34.         17.         12.         43.         41.
 57.          8.         39.         66.         81.         14.
 27.         83.         30.          4.          3.          6.
 32.         80.         49.         90.         78.         19.
  2.         33.         36.         37.         23.         25.
 20.         29.         28.         22.         79.        ]
The values of bp are =
 [ 80.          50.          70.          90.          76.46907216
 100.          60.         110.         140.         180.
 120.        ]
The values of sg are =
 [1.02       1.01       1.005      1.015      1.01740793 1.025     ]
The values of al are =
 [1.         4.         2.         3.         0.         1.01694915
 5.        ]
The values of su are =
 [0.         3.         4.         1.         0.45014245 2.
 5.        ]
The values of rbc are =
 ['normal' 'abnormal']
The values of pc are =
 ['normal' 'abnormal']
The values of pcc are =
 ['notpresent' 'present']
The values of ba are =
 ['notpresent' 'present']
The values of bgr are =
 [121.         148.03651685 423.         117.         106.
  74.         100.         410.         138.          70.
 490.         380.         208.          98.         157.
  76.          99.         114.         263.         173.
  95.         108.         156.         264.         123.
  93.         107.         159.         140.         171.
 270.          92.         137.         204.          79.
 207.         124.         144.          91.         162.
 246.         253.         141.         182.          86.
 150.         146.         425.         112.         250.
 360.         163.         129.         133.         102.
 158.         165.         132.         104.         127.
 415.         169.         251.         109.         280.
 210.         219.         295.          94.         172.
 101.         298.         153.          88.         226.
 143.         115.          89.         297.         233.
 294.         323.         125.          90.         308.
 118.         224.         128.         122.         214.
 213.         268.         256.          84.         105.
 288.         139.          78.         273.         242.
 424.         303.         148.         160.         192.
 307.         220.         447.         309.          22.
 111.         261.         215.         234.         131.
 352.          80.         239.         110.         130.
 184.         252.         113.         230.         341.
 255.         103.         238.         248.         120.
 241.         269.         201.         203.         463.
 176.          82.         119.          97.          96.
  81.         116.         134.          85.          83.
  87.          75.        ]
The values of bu are =
 [ 36.          18.          53.          56.          26.
  25.          54.          31.          60.         107.
  55.          72.          86.          90.         162.
  46.          87.          27.         148.         180.
 163.          57.42572178  50.          75.          45.
  28.         155.          33.          39.         153.
  29.          65.         103.          70.          80.
  20.         202.          77.          89.          24.
  17.          32.         114.          66.          38.
 164.         142.          96.         391.          15.
 111.          73.          19.          92.          35.
  16.         139.          48.          85.          98.
 186.          37.          47.          52.          82.
  51.         106.          22.         217.          88.
 118.          50.1         71.          34.          40.
  21.         219.          30.         125.         166.
  49.         208.         176.          68.         145.
 165.         322.          23.         235.         132.
  76.          42.          44.          41.         113.
   1.5        146.          58.         133.         137.
  67.         115.         223.          98.6        158.
  94.          74.         150.          61.          57.
  95.         191.          93.         241.          64.
  79.         215.         309.          10.        ]
The values of sc are =
 [ 1.2         0.8         1.8         3.8         1.4         1.1
 24.          1.9         7.2         4.          2.7         2.1
  4.6         4.1         9.6         2.2         5.2         1.3
  1.6         3.9        76.          7.7         3.07245431  2.4
  7.3         1.5         2.5         2.          3.4         0.7
  1.         10.8         6.3         5.9         0.9         3.
  3.25        9.7         6.4         3.2        32.          0.6
  6.1         3.3         6.7         8.5         2.8        15.
  2.9         1.7         3.6         5.6         6.5         4.4
 10.2        11.5         0.5        12.2         5.3         9.2
 13.8        16.9         6.          7.1        18.          2.3
 13.         48.1        14.2        16.4         2.6         7.5
  4.3        18.1        11.8         9.3         6.8        13.5
 12.8        11.9        12.         13.4        15.2        13.3
  0.4       ]
The values of sod are =
 [137.52875399 111.         142.         104.         114.
 131.         138.         135.         130.         141.
 139.           4.5        136.         129.         140.
 132.         133.         134.         125.         163.
 137.         128.         143.         127.         146.
 126.         122.         147.         124.         115.
 145.         113.         120.         150.         144.        ]
The values of pot are =
 [ 4.62724359  2.5         3.2         4.          3.7         4.2
  5.8         3.4         6.4         4.9         4.1         4.3
  5.2         3.8         4.6         3.9         4.7         5.9
  4.8         4.4         6.6        39.          5.5         5.
  3.5         3.6         7.6         2.9         4.5         5.7
  5.4         5.3        47.          6.3         5.1         5.6
  3.          2.8         2.7         6.5         3.3       ]
The values of hemo are =
 [15.4        11.3         9.6        11.2        11.6        12.2
 12.4        10.8         9.5         9.4         9.7         9.8
  5.6         7.6        12.6        12.1        12.7        10.3
  7.7        10.9        12.52643678 11.1         9.9        12.5
 12.9        10.1        12.         13.          7.9         9.3
 15.         10.          8.6        13.6        10.2        10.5
  6.6        11.          7.5        15.6        15.2         4.8
  9.1         8.1        11.9        13.5         8.3         7.1
 16.1        10.4         9.2         6.2        13.9        14.1
  6.         11.8        11.7        11.4        14.          8.2
 13.2         6.1         8.         12.3         8.4        14.3
  9.          8.7        10.6        13.1        10.7         5.5
  5.8         6.8         8.8         8.5        13.8        11.5
  7.3        13.7        12.8        13.4         6.3         3.1
 17.         15.9        14.5        15.5        16.2        14.4
 14.2        16.3        14.8        16.5        15.7        13.3
 14.6        16.4        16.9        16.         14.7        16.6
 14.9        16.7        16.8        15.8        15.1        17.1
 17.2        15.3        17.3        17.4        17.7        17.8
 17.5        17.6       ]
The values of pcv are =
 [44.         38.         31.         32.         35.         39.
 36.         33.         29.         28.         38.88449848 16.
 24.         37.         30.         34.         40.         45.
 27.         48.         52.         14.         22.         18.
 42.         17.         46.         23.         19.         25.
 41.         26.         15.         21.         43.         20.
 47.          9.         49.         50.         53.         51.
 54.        ]
The values of wc are =
 [ 7800.          6000.          7500.          6700.
  7300.          8406.12244898  6900.          9600.
 12100.          4500.         12200.         11000.
  3800.         11400.          5300.          9200.
  6200.          8300.          8400.         10300.
  9800.          9100.          7900.          6400.
  8600.         18900.         21600.          4300.
  8500.         11300.          7200.          7700.
 14600.          6300.          7100.         11800.
  9400.          5500.          5800.         13200.
 12500.          5600.          7000.         11900.
 10400.         10700.         12700.          6800.
  6500.         13600.         10200.          9000.
 14900.          8200.         15200.          5000.
 16300.         12400.         10500.          4200.
  4700.         10900.          8100.          9500.
  2200.         12800.         11200.         19100.
 12300.         16700.          2600.         26400.
  8800.          7400.          4900.          8000.
 12000.         15700.          4100.          5700.
 11500.          5400.         10800.          9900.
  5200.          5900.          9300.          9700.
  5100.          6600.        ]
The values of rc are =
 [5.2        4.70743494 3.9        4.6        4.4        5.
 4.         3.7        3.8        3.4        2.6        2.8
 4.3        3.2        3.6        4.1        4.9        2.5
 4.2        4.5        3.1        4.7        3.5        6.
 2.1        5.6        2.3        2.9        2.7        8.
 3.3        3.         2.4        4.8        5.4        6.1
 6.2        6.3        5.1        5.8        5.5        5.3
 6.4        5.7        5.9        6.5       ]
The values of htn are =
 ['yes' 'no']
The values of dm are =
 ['yes' 'no']
The values of cad are =
 ['no' 'yes']
The values of appet are =
 ['good' 'poor']
The values of pe are =
 ['no' 'yes']
The values of ane are =
 ['no' 'yes']
The values of classification are =
 ['ckd' 'notckd']

There is no abnormal values neither missing ones
We are happy 
Let procced to the analyse 
For that we have to change all values to numerical ones